name: Renovate
on:
  workflow_call:
    secrets:
      RENOVATE_PRIVATE_KEY:
        required: true
      RENOVATE_APP_ID:
        required: true

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2.1.4
        with:
          private-key: ${{ secrets.RENOVATE_PRIVATE_KEY }}
          app-id: ${{ secrets.RENOVATE_APP_ID }}

      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.1
        with:
          configurationFile: .renovaterc.json5
          token: '${{ steps.get_token.outputs.token }}'
        env:
          LOG_LEVEL: 'debug'
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_USERNAME: "qubesome-renovate[bot]"
          RENOVATE_ONBOARDING: "false"
